@tailwind base;
h1 {
  @apply text-4xl font-extrabold;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}

.links a {
  @apply  text-pink-600 hover:bg-pink-300  dark:text-pink-700;
}

@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}

.openDiv {
 transition: opacity 0.3s ease-in-out;
}

.timer-btns {
font-size: 20px;
padding: 2px 12px;
font-weight: 400;
border-radius: 4px;
opacity: 0.80;

transition: all .2s ease-in-out;
}

.timer-btns:hover {
transform: scale(1.1);
opacity: 1;
}

.timer-btns:focus {
opacity: 1;
}

@layer components {
.navbar-icon {
    @apply relative flex items-center justify-center
    h-16 w-16 mt-2  mx-auto
    hover:bg-slate-700
     rounded-md
    transition-all duration-300 ease-linear;
  }

.navbar-tooltip {
  @apply shadow-xl absolute w-auto p-2 m-6 min-w-max left-14
  rounded-sm bg-slate-500 text-xs font-bold transition-all duration-100 scale-0 origin-left


}
}
